services:
  - type: web
    name: rushes-backend
    env: node
    buildCommand: apt-get update -y && apt-get install -y ffmpeg && npm install
    startCommand: npm start
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: uploads
      mountPath: /opt/render/project/src/uploads
      sizeGB: 1